<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <!-- This is useful in case our page is opened using the Internet Explorer.
         It basically tells the browser to render the page using the latest rendering engine. -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="金翼, 吳皇毅">
    <meta name="description" content="">
    <meta name="keywords" content="一路發,理財168,即時外匯報價,外匯理財,現金股利股票股利,台北股市指數,康橋小學,
    公司買賣不動產,首次購屋,台中七天出走,台北四季,新店房屋,台北華城房價,台北別墅區,新北透天,岡山房價,青山不動產,
    新店青山鎮社區,秀岡山莊,投資房屋,仲介房屋,如何賣房子,怎麼買房子,運動肌肉痠痛,肌肉酸痛怎麼辦,運動過度,增加身體柔軟度,
    腰痛運動,脊椎護腰,健身護具,塑腰帶推薦,扁平足鞋子推薦,足部筋膜炎,哪裡有賣鞋墊,扁平足跑鞋,頸椎病症狀,肩膀放鬆,
    肩膀肌肉僵硬,喝茶睡不著解決,失眠睡不著,如何改善睡眠品質">
    <!-- We need this to optimize our page to mobile device. -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph protocol promotes integration between Facebook and other websites by allowing
         them to become rich “graph” objects with the same functionality as other Facebook objects. -->
    <meta property="og:title" content="168精彩你的世界">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.168.world">
    <meta property="og:url" content="http://www.168ing.xyz">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

    <title>168精彩你的世界</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <%= yield %>

    <!--
      Show user authentication notification.
    -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
  	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
  	     	toastr['<%= type %>']('<%= f[1] %>');
  	    <% end %>
      </script>
    <% end %>
  </body>
</html>
